dotenv==0.9.9
fastapi==0.117.1
gTTS==2.5.4
mistralai==1.9.10
pip==25.1.1
PySimpleGUI==5.0.8.3
setuptools==80.9.0
simpleaudio==1.0.4
uvicorn==0.36.0
pandas==2.3.3
# The following are for testing and development purposes
pytest==7.4.2
pytest-mock==3.10.0
httpx==0.28.1
pytest-asyncio==0.22.0
